# Configuration for an Ubuntu installation, assuming the following list of
# packages is installed:
#
#    build-essential perl gfortran g++ libmpich2-dev
#
# In addition, installing the following list of packaed will prevent Cactus
# from compiling it's own versions of these libraries:
#
#   libfftw3-dev libgsl0-dev libatlas-base-dev libjpeg-dev libssl-dev libhdf5-serial-dev hdf5-tools
#
# Tools like GetComponents and Simfactory like to have the following list
# installed too
#
#   python subversion git

# Whenever this version string changes, the application is configured 
# and rebuilt from scratch 
VERSION = 2012-09-28

CPP = cpp
FPP = cpp
CC  = gcc
CXX = g++
F77 = gfortran
F90 = gfortran

CPPFLAGS = -DMPICH_IGNORE_CXX_SEEK
FPPFLAGS = -traditional
CFLAGS   = -O2 -g -fopenmp -march=native -std=gnu99
CXXFLAGS = -O2 -g -fopenmp -march=native -std=gnu++11
F77FLAGS = -O2 -g -fopenmp -march=native -fcray-pointer
F90FLAGS = -O2 -g -fopenmp -march=native -fcray-pointer

LDFLAGS = -rdynamic

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE = yes
VECTORISE_ALWAYS_USE_UNALIGNED_LOADS = yes
VECTORISE_INLINE = yes

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0 -check bounds -check format
F90_DEBUG_FLAGS = -O0 -check bounds -check format

#HDF5_ENABLE_CXX=no

MPI_LIBS     = mpi
MPI_LIB_DIRS = /lfs/software/modules/openmpi/4.1.6/gcc/12.1.0/lib
MPI_INC_DIRS = /lfs/software/modules/openmpi/4.1.6/gcc/12.1.0/include

HDF5_LIBS     = hdf5
HDF5_DIR      = /lfs/software/spack-jb/opt/spack/linux-rocky8-broadwell/gcc-12.1.0/hdf5-1.14.3-d5t7ljlsbzc2qnmyobur7psb776hdeup
HDF5_INC_DIRS = /lfs/software/spack-jb/opt/spack/linux-rocky8-broadwell/gcc-12.1.0/hdf5-1.14.3-d5t7ljlsbzc2qnmyobur7psb776hdeup/include
HDF5_LIB_DIRS = /lfs/software/spack-jb/opt/spack/linux-rocky8-broadwell/gcc-12.1.0/hdf5-1.14.3-d5t7ljlsbzc2qnmyobur7psb776hdeup/lib

GSL_DIR      = /lfs/software/spack-mde/opt/spack/linux-rocky8-broadwell/gcc-12.2.0/gsl-2.7.1-7rpwrxrjctrif2g4xo6zckuv6bt6t5d6
GSL_INC_DIRS = /lfs/software/spack-mde/opt/spack/linux-rocky8-broadwell/gcc-12.2.0/gsl-2.7.1-7rpwrxrjctrif2g4xo6zckuv6bt6t5d6/include
GSL_LIB_DIRS = /lfs/software/spack-mde/opt/spack/linux-rocky8-broadwell/gcc-12.2.0/gsl-2.7.1-7rpwrxrjctrif2g4xo6zckuv6bt6t5d6/lib

#FFTW3_DIR      = NO_BUILD
#FFTW3_INC_DIRS = /lfs/software/opt/linux-rocky8-broadwell/gcc-12.1.0/fftw-3.3.10-y6hsua3kp7x4sffnq4nf46k2eqljqlqu/include/fftw
#FFTW3_LIBS     = -mkl

PTHREADS_DIR = NO_BUILD

LORENE_DIR = /lfs/shared_zeui/Lorene
